@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



*{
    
    margin: 0px;
    padding: 0px;
    
}
.Banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner/banner3.png");
    background-size: cover; 
    display: flex;
    justify-content:right;
    text-align: right;
    align-items: center;

    
}
.Text-container{
    margin: 260px 200px 200px 850px;
    color: white;

}
.btn{
    height: 50px;
    padding-left: 30px; 
    padding-right: 30px;
    background-color: white;
    color: rgb(100, 100, 243);
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
     
}
/* banner style ends here */

.year-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.year-container img{
    margin-left: 190px;
    margin-top: 20px; 
    height: 600px;
}
.passage{
    width: 50%;
    /* border: 2px solid yellowgreen; */
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 300px;
} 
/* img container style ends here */

/* mission style start here */

.mission-parent-container{
    width: 100%;
    height: 500px;
    margin: 50px auto 0px;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card-first{
    width: 20%;
    padding: 10px;
    border-radius: 20px;
}

.card-first img{
    width: 100px;
}

/* Mission style ends here  */

.my-plan{
    width: 100%;
    height: 100vh;
    border: 2px solid blueviolet;
    

}
    
.card-parent{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* border: 2px solid green; */
    margin-left: 210px;
    margin-right: 210px;
}
.card h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    margin-top: 10px;
}
.card h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 23px;
    color:gray
         
}
.card{
  /* border  : 2px solid green; */
    text-align: center; 
}
.cover{
    width: 1100px;
    height: 300px;
    font-family: 'Work Sans', sans-serif;
    background-image:linear-gradient(to right ,#294cf5,transparent), url('../images/watch.png'); 
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 210px;
    margin-right: 210px;
    margin-top: 100px;
    border-radius: 10px; 
}   

    

.text{
    /* text-align:left;
    align-items: center;
    margin-left: 200px;  */
    padding-top: 80px;
    padding-left: 50px;
}
.text button{
    height: 50px;
    padding-left: 30px; 
    padding-right: 30px;
    background-color: white;
    color: rgb(100, 100, 243);
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
}

/*Footer style here */

.Footer{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    background-color: black;
    margin-top: 130px;
 
}

.contact{
    width: 100%;
    color: white;
    text-align: left;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 100px;
    /* border: 2px solid yellow; */

}
.contact a{
    text-decoration: none;
    gap: 10px;
}
.subscribe{
    width: 100%;
    color: whitesmoke;
    text-align: left;
    padding-right: 100px;
    padding-left: 120px; 
    margin-left: 150px;
    margin-top: 150px;
    /* border: 2px solid yellow;  */
}

.subscribe input[type="email"]{
    width: 55%;
    margin-bottom: 20px;
    border: 0;
    height: 25px;
    padding: 18px 30px; 
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: whitesmoke;
}
.sub-btn{
    height: 55px;
    padding-left: 30px; 
    padding-right: 30px;
    color: whitesmoke;
    background-color: #294cf5;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px; 
}